<head>
  <h1>Stupid Coaching</h1>
</head>

<body>
  <div class="question">
  <h3>
    <%= @question %>
  </h3>
  <p>-You</p>
</div>


  <div class="answer">
    <h3>
      <%= @answer %>
    </h3>
    <p>-Your coach</p>
  </div>

  <p>
    <%= link_to "Ask a new question", ask_path %>
  </p>
</body>

